<div class="container">
    <div class="row justify-content-center">
        <div class="col-6 mt-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-center">Register</h5>
                    <form>
                        <div class="mb-3">
                            <label for="userName" class="form-label">Full name</label>
                            <input type="password" class="form-control" id="userName" placeholder="Full name">
                        </div>
                        <div class="mb-3">
                            <label for="userEmail" class="form-label">Email address</label>
                            <input type="email" class="form-control" id="userEmail" placeholder="Email">
                        </div>
                        <div class="mb-3">
                            <label for="userPassword" class="form-label">Password</label>
                            <input type="password" class="form-control" id="userPassword" placeholder="Password">
                        </div>
                        <!-- <div class="mb-3 form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Check me out</label>
                        </div> -->
                        <div class="d-grid text-center mx-auto">
                            <button type="submit" class="btn btn-primary">Create an account</button>
                        </div>
                    </form>
                    <div class="card-footer text-center">
                        Already have account? <a routerLink="/login">Login here</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>